<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>Snack Overflow - Grocery List</title>

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

  <!-- SIDEBAR -->

  <aside class="sidebar">

    <div class="logo">

      <div class="logo-icon">
        <i class="fa-solid fa-carrot"></i>
      </div>

      <div class="logo-text">
        <h1>Snack<br>Overflow</h1>
        <span>v2.0</span>
      </div>

    </div>

    <div class="section-title">Pantry</div>

    <nav class="nav">

      <a href="/" class="nav-item">
        <i class="fa-solid fa-table-cells-large"></i>
        Dashboard
      </a>

      <a href="inventory" class="nav-item">
        <i class="fa-solid fa-cube"></i>
        Inventory
      </a>

      <a href="expiration" class="nav-item">
        <i class="fa-regular fa-calendar"></i>
        Expiration
      </a>

      <a href="recipes" class="nav-item">
        <i class="fa-solid fa-chef-hat"></i>
        Recipes
      </a>

      <a href="grocery-list" class="nav-item active">
        <i class="fa-solid fa-list-check"></i>
        Grocery List
      </a>

      <a href="#" class="nav-item">
        <i class="fa-solid fa-chart-column"></i>
        Analytics
      </a>

    </nav>

  </aside>

  <!-- MAIN -->

  <main class="main">

    <header class="topbar">

      <div class="topbar-box">
        <i class="fa-regular fa-window-maximize"></i>
      </div>

      <span>Snack Overflow 2.0</span>

    </header>

    <section class="content">

      <h1 class="page-title">Grocery List</h1>

      <p class="subtitle">
        Things to grab on your next run.
      </p>

      <!-- ACTION ROW -->

      <div class="action-row grocery-top">
        <form id="inventory-form">
          <label>Select a List</label>
          <select type="text" id="list_id" placeholder="Grocery Lists" required></select> <br>
        </form>

        <button id="add-to-list-button" class="add-btn">
          <i class="fa-solid fa-plus"></i>
          Add to list
        </button>

      </div>

      <!-- TABLE CARD -->

      <section class="panel">

        <h2 class="grocery-heading">Open</h2>

        <table class="inventory-table">

          <thead>

            <tr>

              <th>Food</th>
              <th>Notes</th>
              <th>Quantity</th>
              <th>Purchased?</th>

            </tr>

          </thead>

          <tbody id="grocery-table-body">

            <!-- JS inserts rows here -->

          </tbody>

        </table>

      </section>

    </section>

  </main>

  <script src="{{ url_for('static', filename='js/grocery-list.js') }}"></script>


</body>
</html>